<!DOCTYPE html>

<html>

   <head>
      <title>Smush URL Shortener</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
      <link href="/public/css/style.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   </head>

   <body class="d-flex justify-content-center align-items-center">
      <div class="col-sm-8 col-xl-6 text-center">
        
     
        <h2>URL Shortener Microservice</h2>
        
        
        <form id="url-form" class="form-group d-flex card shadow mb-4" action="api/shorturl/new" method="POST">
          <div class="input-group"> 
            
          
          <input id="url-input" class="input-group-prepend" type="text" name="url" placeholder="Shorten your url here">
          <input class="form-control input-group-append bg-danger text-light btn btn-outline-secondary" type="submit" value="SMUSH it">
          </div>
        </form>
        <div class="d-flex lead card card-body shadow mt-3">
          
        <p id="card-header">Your Smushed Url:</p>
        <div id="short-url"  class="border border-secondary">
          ---
        </div>
          </div>
        
      </div>
      <div class="footer fixed-bottom text-center">
        <p>
          by Gerald Jones || Inspired by <a href="http://www.freecodecamp.com">freeCodeCamp</a>
        </p>
      </div>
     
     <script src="public/js/main.js"></script>
   </body>


</html>